body {
    background-color: lightblue;
}

.sections {
    width: 50%;
    margin: 20px;
    background-color: tan;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#buttonSections {
    width: 50%;
    margin: 20px;
    background-color: tan;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    float: right;
}